#review {
    position: relative;
    height: 90vh;
    width: 100vw;
    background-color: rgb(250, 245, 239);
}
.image-reviews {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.08;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
.text-balloon {
    position: absolute;
    filter: drop-shadow(1px 2px 10px black);
    h2 {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        letter-spacing: 0.123em;
        text-align: center;
        line-height: 1.3;
    }
}

///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    .text-balloon {
        top: 23%;
        left: 4%;
        img {
            width: 220px;
        }
        h2 {
            margin: 25px;
            top: 5%;
            font-size: 8px;
        }
    }
    .text-balloon.two {
        top: 9%;
        left: 27.5%;
        img {
            width: 100px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 12.5px;
            top: 10%;
            font-size: 8px;
        }
    }
    .text-balloon.three {
        top: 20%;
        left: 55%;
        img {
            width: 160px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 20px;
            top: 12%;
            font-size: 8px;
        }
    }
    .text-balloon.four {
        top: 75%;
        left: 5%;
        img {
            width: 185px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 20px;
            top: 7.5%;
            font-size: 9px;
        }
    }
    .text-balloon.five {
        top: 47.5%;
        left: 32.5%;
        img {
            width: 250px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 40px;
            top: 1%;
            font-size: 8.5px;
        }
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    .text-balloon {
        top: 4%;
        left: 4%;
        img {
            width: 225px;
        }
        h2 {
            margin: 25px;
            top: 6.5%;
            font-size: 8.5px;
        }
    }
    .text-balloon.two {
        top: 60%;
        left: 21%;
        img {
            width: 100px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 15px;
            top: 10%;
            font-size: 8.5px;
        }
    }
    .text-balloon.three {
        top: 3%;
        left: 72%;
        img {
            width: 170px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 22px;
            top: 5%;
            font-size: 8.5px;
        }
    }
    .text-balloon.four {
        top: 48%;
        left: 65%;
        img {
            width: 180px;
        }
        h2 {
            margin: 20px;
            top: 6%;
            font-size: 8.5px;
        }
    }
    .text-balloon.five {
        top: 13.5%;
        left: 32.5%;
        img {
            width: 250px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 40px;
            top: 1%;
            font-size: 8.5px;
        }
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .text-balloon {
        top: 16%;
        left: 4%;
        img {
            width: 365px;
        }
        h2 {
            margin: 38px;
            top: 5%;
            font-size: 13.5px;
        }
    }
    .text-balloon.two {
        top: 47%;
        left: 40%;
        img {
            width: 155px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 10px;
            top: 15%;
            font-size: 15.5px;
        }
    }
    .text-balloon.three {
        top: 25%;
        left: 63%;
        img {
            width: 280px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 36px;
            top: 4%;
            font-size: 15px;
        }
    }
    .text-balloon.four {
        top: 56%;
        left: 58%;
        img {
            width: 325px;
        }
        h2 {
            margin: 39px;
            top: 7%;
            font-size: 15px;
        }
    }
    .text-balloon.five {
        top: 60%;
        left: 5%;
        img {
            width: 400px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 58px;
            top: 1%;
            font-size: 14px;
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    .text-balloon {
        top: 13%;
        left: 1.5%;
        img {
            width: 420px;
        }
        h2 {
            margin: 50px;
            top: 5%;
            font-size: 15px;
        }
    }
    .text-balloon.two {
        top: 75%;
        left: 19%;
        img {
            width: 135px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 10px;
            top: 20%;
            font-size: 12px;
        }
    }
    .text-balloon.three {
        top: 8%;
        left: 53%;
        img {
            width: 300px;
            // -webkit-transform: scaleX(-1);
            // transform: scaleX(-1);
        }
        h2 {
            margin: 39px;
            top: 5%;
            font-size: 15px;
        }
    }
    .text-balloon.four {
        top: 50%;
        left: 35%;
        img {
            width: 310px;
            transform: scaleX(-1);
        }
        h2 {
            margin: 41px;
            top: 2%;
            font-size: 15px;
        }
    }
    .text-balloon.five {
        top: 45%;
        left: 65%;
        img {
            width: 390px;
        }
        h2 {
            margin: 55px;
            top: 4%;
            font-size: 13.5px;
        }
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    .text-balloon {
        top: 15%;
        left: 3.5%;
        img {
            width: 420px;
        }
        h2 {
            margin: 50px;
            top: 5%;
            font-size: 15px;
        }
    }
    .text-balloon.two {
        top: 15.5%;
        left: 35%;
        img {
            width: 135px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 10px;
            top: 20%;
            font-size: 12px;
        }
    }
    .text-balloon.three {
        top: 5%;
        left: 50%;
        img {
            width: 325px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 25px;
            top: 17%;
            font-size: 15px;
        }
    }
    .text-balloon.four {
        top: 45%;
        left: 34%;
        img {
            width: 330px;
        }
        h2 {
            margin: 45px;
            top: 1%;
            font-size: 16px;
        }
    }
    .text-balloon.five {
        top: 40%;
        left: 72.5%;
        img {
            width: 375px;
        }
        h2 {
            margin: 40px;
            top: 10%;
            font-size: 13px;
        }
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    .text-balloon {
        top: 15%;
        left: 3.5%;
        img {
            width: 420px;
        }
        h2 {
            margin: 50px;
            top: 5%;
            font-size: 15px;
        }
    }
    .text-balloon.two {
        top: 15.5%;
        left: 35%;
        img {
            width: 135px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 10px;
            top: 20%;
            font-size: 12px;
        }
    }
    .text-balloon.three {
        top: 5%;
        left: 50%;
        img {
            width: 325px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        h2 {
            margin: 25px;
            top: 17%;
            font-size: 15px;
        }
    }
    .text-balloon.four {
        top: 45%;
        left: 34%;
        img {
            width: 330px;
        }
        h2 {
            margin: 45px;
            top: 1%;
            font-size: 16px;
        }
    }
    .text-balloon.five {
        top: 40%;
        left: 72.5%;
        img {
            width: 375px;
        }
        h2 {
            margin: 40px;
            top: 10%;
            font-size: 13px;
        }
    }
}
