#who-am-i {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 245, 239);
    // background-color: bisque;
 }
.image-who-is {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // filter: brightness(0.78);
    opacity: 0.25;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
.circle-who-is {
    position: relative;
    top: 52.5%;
    left: 50%;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // background-color: #791d70;
    background-color: #888b7e;
    // background-color: #c4c4c4;
    filter: drop-shadow(1px 2px 4px black);
    opacity: 0.8;
    header {
        position: absolute;
        width: 50%;
        top: 18%;
        left: 26.5%;
        // transform: translate(-4%, 18%);
        font-family: "Roboto", sans-serif;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: center;
    }
    h2 {
        position: absolute;
        width: 55%;
        top: 30%;
        left: 25%;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.123em;
        text-align: -webkit-center;
        line-height: 1.3;
    }
    img {
        position: absolute;
        border-radius: 10px;
        top: 20%;
        right: 80%;
        width: 40%;
        -webkit-filter: grayscale(30%);
        filter: grayscale(30%);
        // border: black solid 0.5px;
        // filter: drop-shadow(1px 2px 2px black);
        // opacity: 1;
    }
    .hart-in-circle {
        position: absolute;
        width: 50%;
        top: 25%;
        left: 25%;
        border: none;
        opacity: 0.08;
    }
}
