.nav-container {
    background-color: black;
    opacity: 0.8;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    /// DISPLAY NONE
    .logo {
        display: none;
    }
    .logo-left {
        display: none;
    }
    ///
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 6vh;
        text-transform: uppercase;
        transition: 0.5s;
        z-index: 1;
    }
    ul.menu.false {
        padding: 0;
        margin: 0;
        // align-items: center;
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        list-style-type: none;
        width: 100vw;
        top: 1.2vh;
        a {
            color: black;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
        }
        button {
            color: black;
            font-size: 12px;
            font-weight: 600;
            background: none;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
        }
    }
    .menu-buttons {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
        top: 0.1vh;
        transition: ease-in-out 400ms;
        a {
            color: #fffffe;
            opacity: 1;
        }
        button {
            color: #fffffe;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 6vh;
        text-transform: uppercase;
        transition: 0.5s;
        z-index: 1;
    }
    ul.logo.false {
        padding: 0;
        margin: 0;
    }
    .logo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 1.2vh;
        img {
            width: 70%;
            padding-left: 1.5rem;
        }
    }
    ul.logo.logo-left {
        padding: 0;
        margin: 0;
    }
    .logo-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 0.1vh;
        transition: ease-in-out 400ms;
        img {
            filter: invert(1);
            padding-left: 1.5rem;
        }
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        list-style-type: none;
        width: 100vw;
        top: 1.2vh;
        a {
            color: black;
            font-size: 13px;
            font-weight: 600;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            padding: 20px;
        }
        button {
            color: black;
            font-size: 13px;
            font-weight: 600;
            background: none;
            border: none;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
        }
    }
    .menu-buttons {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        width: 100vw;
        top: 0.1vh;
        transition: ease-in-out 400ms;
        a {
            color: #fffffe;
            opacity: 1;
        }
        button {
            color: #fffffe;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 9vh;
        text-transform: uppercase;
        transition: 0.5s;
        z-index: 1;
    }
    .logo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 1.2vh;
        img {
            width: 65%;
        }
    }
    .logo-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 0.1vh;
        transition: ease-in-out 400ms;
        img {
            filter: invert(1);
        }
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        list-style-type: none;
        width: 100vw;
        top: 1.2vh;
        a {
            color: black;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            padding: 20px;
        }
        button {
            color: black;
            font-size: 14px;
            font-weight: 600;
            background: none;
            border: none;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
        }
    }
    .menu-buttons {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        width: 100vw;
        top: 0.1vh;
        transition: ease-in-out 400ms;
        a {
            color: #fffffe;
            opacity: 1;
        }
        button {
            color: #fffffe;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1280px) {
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        transition: 0.5s;
        z-index: 1;
    }
    .logo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 2vh;
        img {
            width: 43%;
        }
    }
    .logo-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        width: 50%;
        top: 0.4vh;
        transition: ease-in-out 400ms;
        img {
            filter: invert(1);
        }
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: 50%;
        top: 2vh;
        a {
            color: black;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-decoration: none;
            padding: 25px;
            &:hover {
                color: #d77548;
                transition: 400ms ease-in-out;
            }
        }
        button {
            cursor: pointer;
            background: none;
            border: none;
            color: black;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1em;
            &:hover {
                color: #d77548;
                transition: 400ms ease-in-out;
            }
        }
    }
    .menu-buttons {
        position: relative;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        width: 50%;
        top: 0.4vh;
        transition: ease-in-out 400ms;
        a {
            color: #fffffe;
            opacity: 1;
        }
        button {
            color: #fffffe;
            opacity: 1;
        }
    }
}
