#coaching {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 245, 239);
    // opacity: 0.8;
    // background-color: rgb(250, 243, 234);
    // background-color: bisque;
}
.image-coaching {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // filter: brightness(0.78);
    opacity: 0.25;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
.coaching-circle-1 {
    position: absolute;
    top: 50%;
    left: 37%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #888b7e;
    filter: drop-shadow(1px 2px 5px black);
    opacity: 0.8;
    header {
        position: relative;
        top: 18%;
        left: 16%;
        width: 75%;
        transform: translate(-4%, 18%);
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-align: center;
        color: black;
    }
    h2 {
        position: relative;
        width: 60%;
        top: 23%;
        left: 20%;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.14em;
        line-height: 1.35;
        text-align: center;
        color: black;
    }
}
.coaching-circle-2 {
    position: absolute;
    top: 65%;
    left: 67%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #710809;
    filter: drop-shadow(1px 2px 5px black);
    opacity: 0.8;
    h2 {
        position: relative;
        width: 60%;
        top: 20%;
        left: 22%;
        transform: translate(-3%);
        -webkit-transform: translate(-3%);
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.14em;
        line-height: 1.35;
        text-align: center;
        color: whitesmoke;
    }
}
.button-aanvraag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 35px;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // background-color: #2f2f3b;
    background-color: #888b7e;;
    // background-color: #715504;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    // opacity: 0.9;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
    &:hover {
        opacity: 1;
        color: whitesmoke;
        transition: 400ms ease-in-out;
        // filter: invert(1);
    }
}